<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.cn.zbt.crawlmeta.dao.AccountTabDao">
  
     <select id="findValue" resultType="com.cn.zbt.crawlmeta.pojo.AccountTab"  >
     	select top 1  * from [dbo].[TB_ACCOUNT]  order by NewID()
    </select>
     <update id="updateIp" parameterType="com.cn.zbt.crawlmeta.pojo.AccountTab" >
			update [dbo].[TB_ACCOUNT] set type=0 where id= #{id}
	 </update>
	 <insert id="insertIp" parameterType="com.cn.zbt.crawlmeta.pojo.AccountTab" >
			insert into  [dbo].[TB_ACCOUNT] (username,password,type) values(#{username},#{password},#{type})
	 </insert>
</mapper>
